.listItem {
    width: 30%;
    margin: 1%;
    padding: 5px;
    border-radius: 5px;
    list-style: none;
    justify-items: center;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    border: 2px black solid
}

.deleteItem {
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    border: 2px black solid;
    
    &:visited, &:active, &:link {
        color: yellow;
        text-decoration: none;
    }
}