.inputText {
    padding: 4px;
    margin: 0 1rem;
    border-radius: 5px;
    font-size: 2rem;
}

form {
    button {
        border-radius: 5px;
        font-size: 2rem;
        background-color: yellow;
    }
}