.App {
  text-align: center;
  height: 100%;
}

.inputContainer {
  background-color: rgba($color: #bfde2b, $alpha: 1.0);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.headerNav {
  font-family: 'Indie Flower', cursive;
  background-color: rgba($color: #bfde2b, $alpha: 1.0);

  h1 {
    margin: 0;
    padding: 5px;
  }
}